<h2>Create a new movie</h2>
<form method="POST">
  <input type="text" name="title" placeholder="movie title..."> 
  <input type="text" name="genre" placeholder="movie genre..."> 
  <input type="text" name="plot" placeholder="movie plot..."> 
  <button>Create new Movie</button>
</form>